---

- name: reload systemd unit files
  command: systemctl daemon-reload

- name: reload nginx
  service:
    name: nginx
    state: reloaded

- name: restart openproject
  service:
    name: openproject
    state: restarted
