{% for name, repo in plugins.iteritems() %}
{% if repo is mapping %}
gem '{{name}}', :git => '{{repo.url}}', :branch => '{{repo.branch}}'
{% else %}
gem '{{name}}', :git => '{{repo}}', :branch => '{% if openproject_branch %}{{openproject_branch}}/{% else %}v{% endif %}{{openproject_version}}'
{% endif %}
{% endfor %}
