[Unit]
Description=Openproject in a Unicorn
Requires=network.target
Requires=nginx.service
Before=nginx.service

[Service]
Type=simple
ExecStart=/bin/sh -l -c "bundle exec unicorn --port {{unicorn.port}} --host {{unicorn.host}} --env production"
PrivateTmp=yes
User={{openproject_user}}
Group={{openproject_group}}
WorkingDirectory={{openproject_path}}/openproject
Restart=always
Environment="SECRET_KEY_BASE={{secret_key_base}}"

[Install]
WantedBy=multiuser.target
