export EMAIL_DELIVERY_METHOD={{mail_method}}
export ADMIN_EMAIL={{admin_email}}
{% if mail_method=="smtp" %}
export SMTP_AUTHENTICATION={{smtp_auth}}
export SMTP_HOST={{smtp_host}}
export SMTP_PORT={{smtp_port}}
{% if smtp_auth %}
export SMTP_USERNAME={{smtp_user}}
export SMTP_PASSWORD={{smtp_password}}
{% endif %}
export SMTP_DOMAIN={{smtp_domain}}
export SMTP_URL={{smtp_url}}
{% endif %}
